<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Spring Boot Example with Maven and Thymeleaf</title>
 <link rel="stylesheet" type="text/css" th:href="@{/css/screen.css}" href="/css/screen.css" />
</head>
<body>
 <div class="header-container">
 <div class="header">
  <div class="logo">
  Spring Boot
  </div>
  <nav class="horizontal-nav">
    <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="About-Us.html">About Us</a></li>
    <li><a href="contact-us.html">Contact Us</a></li>
   </ul>
  </nav>
 </div>
</div>
<div class="main-body">
 <span id="welcome" th:text="${message}"></span>
 <div class="page-header">
  <h2>Building a Web Application Using Spring Boot</h2>
 </div>
 <div class="page-section-content">
  This article would provide a step by step guide to build a Maven based web application using Spring Boot. We would see how easily one could create stand-alone application in no time. 
  We will be using below tools and technologies to build our sample application:
  <ul>
   <li>Spring Tool Suite : 3.9.0.RELEASE</li>
   <li>Spring Boot: 1.5.10.RELEASE</li>
   <li>Spring: 4.3.14.RELEASE</li>
   <li>Thymeleaf: 2.1.6.RELEASE</li>
   <li>Tomcat Embed: 8.5.27</li>
   <li>Maven: 3.3.9</li>
   <li>Java: 1.8.0_144</li>
  </ul>
 </div>
</div>
</body> 
</html>